:root{
    --background-hover: #f84464;
    --background-menus: #252527;
}

*{
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif !important;
    box-sizing: border-box;
}

body{
    background: #101010 !important;
    height: 100vh;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

/*------------------------Header Section----------------------*/
header{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100vw;
    height: 70px;
    justify-content: center;
    background: var(--background-menus);
    top: 0;
}

header div{
    width: 100% !important;
    max-width: 33% !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
}

header .logo{
    margin-left: 30px;
}

header .search{
    margin-left: 10px;
}

.search input{
    width: 75%;
    font-size: 15px;
    padding: 4px 5px 4px 35px;
    border-radius: 5px;
    border: none;
    background: #070808;
    color: rgb(215, 213, 213);
	box-shadow:
		0px 1px 1px 0px hsla(0,0%,0%,0.14), 
		0px 2px 1px -1px hsla(0,0%,0%,0.12), 
		0px 1px 3px 0px hsla(0,0%,0%,0.2);
}

.search input:focus{
    outline: none;
}

.search .bx-search{
    position: absolute;
    margin: 7px 2px 0 8px;
    font-size: 18px;
    color: rgba(183, 182, 182, 0.874);
}

.admin-profile{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 30px;
    width: 100%;
}

.admin-profile .notification{
    font-size: 25px;
    text-decoration: none;
    color: rgb(215, 213, 213);
    margin: 10px 0 auto 0;
}

.dropdown button{
    background: none;
    border: none;
}

.dropdown button:hover{
    background: none;
    border: none;
}

.dropdown ul li a{
    font-size: 15px;
    margin: 5px;
    color: #fff;
}

.dropdown ul li a:hover{
    width: auto;
    height: auto;
    color: #fff;
    background: var(--background-hover);
    border-radius: 5px;
}

.dropdown .dropdown-menu{
    background: var(--background-menus);
    color: #fff;
}

/*-------------------Sidebar Section--------------------*/
.sidebar{
    background: var(--background-menus);
    height: 100%;
    width: 200px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    position: absolute;
}

.sidebar ul li{
    list-style: none;
    margin-top: 18px;
    cursor: pointer;
    font-size: 17px ;
    font-weight: 500;
    padding: 0 10px;
}

.sidebar ul li button{
    background: none;
    border: none;
    height: 40px;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar ul li i{
    position: relative;
    top: 1px;
    right: 3px;
    font-size: 17px;
}

.sidebar ul li:hover{
    background: var(--background-hover);
    color: #fff;
    border-radius: 50px;
}

/*--------------------------Dashboard Body---------------------------*/
.dashboard{
    position: relative;
    top: 20px;
    left: 220px;
}

/*--Total Count Cards--*/
.total-count{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.box{
    width: 300px;
    height: 150px;
    background: var(--background-menus);
    color: #fff;
    padding: 15px;
}

.section2{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;
}

/*--Progress Report Section--*/
.progress-report{
    width: 100%;
    max-width: 55%;
    height: 430px;
    background: var(--background-menus);
    padding: 30px;
    color: #fff;
}

/*--Daily Updates Section--*/
.daily-updates{
    width: 100%;
    max-width: 425px;
    height: 430px;
    background: var(--background-menus);
    padding: 30px;
    color: #fff;
}