*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

body{
    background: #161515 !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.image{
    width: 100%;
    max-width: 50%;
    height: 100%;
}

.image img{
    width: 100%;
    max-width: 50%;
    height: 100%;
    top: 0;
    bottom: 0;
    object-fit: cover;
    position: absolute;
}

.register-section{
    padding: 100px 0 0 150px;
    width: 100%;
    max-width: 50%;
    height: 100%;
}

.register-section .heading{
    margin-bottom: 35px;
}

.register-section h1{
    font-size: 30px;
    font-weight: bold;
}

.input{
    width: 100%;
    max-width: 60%;
    background: transparent;
    color:rgb(211, 210, 210);
    border: 0.3px solid rgba(215, 213, 213, 0.546);
    margin-top: 20px;
    font-size: 17px;
    padding: 8px 8px 8px 40px;
    border-radius: 5px;
}

.input:focus{
    outline: none;
}

form i{
    position: absolute;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 8px;
    color: rgb(194, 193, 193);
}

.button{
    width: 100%;
    max-width: 60%;
    background: #f84464;
    border: none;
    margin-top: 25px;
    padding: 6px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
}