*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

body{
    background: #161515 !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.image{
    width: 100%;
    max-width: 50%;
    height: 100%;
}

.image img{
    width: 100%;
    max-width: 50%;
    height: 100%;
    top: 0;
    bottom: 0;
    object-fit: cover;
    position: absolute;
}

.register-section{
    padding: 100px 0 0 100px;
    width: 100%;
    max-width: 50%;
    height: 100%;
}

.register-section h1{
    font-size: 30px;
    font-weight: bold;
}